su-Jsr-181-RoleAssignmentService-provide/src/main/jbi/RoleAssignmentServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://roleassignment.middleware.choreos.ccsl.ime.usp.br/RoleAssignmentService" name="RoleAssignmentServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://roleassignment.middleware.choreos.ccsl.ime.usp.br/RoleAssignmentService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://roleassignment.middleware.choreos.ccsl.ime.usp.br/RoleAssignmentService" schemaLocation="RoleAssignmentServiceImplService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://middleware.choreos.ccsl.ime.usp.br/RoleAssignmentService" schemaLocation="RoleAssignmentServiceImplService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="get">
    <part name="parameters" element="tns:get"/>
  </message>
  <message name="getResponse">
    <part name="parameters" element="tns:getResponse"/>
  </message>
  <message name="saveRoleAssignment">
    <part name="parameters" element="tns:saveRoleAssignment"/>
  </message>
  <message name="saveRoleAssignmentResponse">
    <part name="parameters" element="tns:saveRoleAssignmentResponse"/>
  </message>
  <message name="assignRole">
    <part name="parameters" element="tns:assignRole"/>
  </message>
  <message name="assignRoleResponse">
    <part name="parameters" element="tns:assignRoleResponse"/>
  </message>
  <portType name="RoleAssignmentService">
    <operation name="get">
      <input message="tns:get"/>
      <output message="tns:getResponse"/>
    </operation>
    <operation name="saveRoleAssignment">
      <input message="tns:saveRoleAssignment"/>
      <output message="tns:saveRoleAssignmentResponse"/>
    </operation>
    <operation name="assignRole">
      <input message="tns:assignRole"/>
      <output message="tns:assignRoleResponse"/>
    </operation>
  </portType>
  <binding name="RoleAssignmentServicePortBinding" type="tns:RoleAssignmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="get">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveRoleAssignment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="assignRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RoleAssignmentServiceImplService">
    <port name="RoleAssignmentServicePort" binding="tns:RoleAssignmentServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

