su-Jsr-181-RoleAssignmentService-provide/src/main/resources/RoleAssignmentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://choreos.eu/RoleAssignmentService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoleAssignmentService" targetNamespace="http://choreos.eu/RoleAssignmentService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://choreos.eu/RoleAssignmentService" >
      <xsd:element name="assignRole">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="role" type="xsd:string" />
          	<xsd:element name="uri" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="assignRoleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfStrings">
      	<xsd:complexContent>
               <xsd:restriction base="soapenc:Array">
                  <xsd:attribute ref="soapenc:arrayType" 
                  wsdl:arrayType="string[]"/>
               </xsd:restriction>
      	</xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="assignRoleRequest">
    <wsdl:part name="role" type="xsd:string"/>
    <wsdl:part name="uri" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignRoleResponse">
        <wsdl:part name="returnMessage" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRequest">
  	<wsdl:part name="role" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponse">
  	<wsdl:part name="uris" type="tns:ArrayOfStrings"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RoleAssignmentService">
    <wsdl:operation name="assignRole">
      <wsdl:input message="tns:assignRoleRequest"/>
      <wsdl:output message="tns:assignRoleResponse"/>
    </wsdl:operation>
    <wsdl:operation name="get">
    	<wsdl:input message="tns:getRequest"></wsdl:input>
    	<wsdl:output message="tns:getResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleAssignmentServiceSOAP" type="tns:RoleAssignmentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="assignRole">
      <soap:operation soapAction="http://choreos.eu/RoleAssignmentService/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleAssignmentService">
    <wsdl:port binding="tns:RoleAssignmentServiceSOAP" name="RoleAssignmentServiceSOAP">
      <soap:address location="http://choreos.eu/RoleAssignmentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
